* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #0081AF;
  --secondary-color: #2DC7FF;

  --lines-color: #EABA6B;
}

body {
  font-family: arial;
}

header {
  align-items: center;
  background-color: var(--primary-color);
  height: 80px;
  display: flex;
  justify-content: space-around;
}

.links {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

/* Dropdown Menu */
.list_item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 80px;
  justify-content: center;
  position: relative; /* Para que sea la referencia del dropdown */
  width: 200px;
}

.list_item:hover {
  background-color: var(--secondary-color);
}

.list_item:hover .dropdown { /* Que se muestre el dropdown cuando el mouse esté sobre el detonador */
  display: block;
}

.dropdown {
  display: none; /* Esconder el dropdown por default */
  background-color: var(--primary-color);
  position: absolute;
  top: 80px; /* Hay que acomodar el dropdown done queramos que aparesca */
  left: 0;
  width: 100%;
}

.dropdown ul {
  list-style: none;
}

.dropdown li {
  border-bottom: 1px solid var(--lines-color);
  box-sizing: border-box;
  padding: 20px 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: var(--secondary-color);
}

/* SideMenu */

/* SideMenu functionality */
.mobile-show {
  display: none;
  font-size: 35px;
}

.sideMenu {
  box-sizing: border-box;
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  transition: right .6s;
  padding: 30px 10px;
}

.sideMenu.active {
  right: 0;
}

/* Sidemenu styling */

.links--mobile {
  list-style: none;
}

.list_item--mobile {
  box-sizing: border-box;
  border-bottom: 1px solid var(--lines-color);
  padding: 20px;
  width: 100%;
}

.list_item--mobile p {
  font-weight: bold;
}

.dropdown--mobile ul {
  list-style: none;
}

.dropdown--mobile ul li {
  padding: 10px 0;
}



@media screen and (max-width: 769px) {
  .mobile-show {
    display: block;
  }

  .links {
    display: none;
  }
}

/* Carrousel */
.carrousel {
  height: 500px;
  width: 100%;
}

.imageContainer {
  display: flex;
  height: 100%;
  width: 500px;
  overflow: hidden;
}

.carrouselItem {
  align-items: center;
  display: flex;
  height: 500px;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
}

.carrouselItem picture {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.carrouselItem picture img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .carrousel,
  .imageContainer {
    width: 100%;
  }
}
